downloadable_files/books/fazail-e-aamal.pdf
downloadable_files/books/hayatus-sahabah-vol1-urdu.pdf
downloadable_files/books/sirat-un-nabi-vol1-urdu.pdf
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
.DS_Store
